target
/CrackingTheCodingInterview/ArraysAndStrings/1.1/question/target
/CrackingTheCodingInterview/ArraysAndStrings/1.2/question/target
/CrackingTheCodingInterview/ArraysAndStrings/*/question/target
CrackingTheCodingInterview/ArraysAndStrings/*/question/target